<section>
    <h1>Home</h1>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ipsam alias itaque voluptatibus cum
            ratione officia minima eum, aut laboriosam autem doloremque? Fuga ullam, soluta perferendis dolor debitis
            nulla qui. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ipsam alias itaque voluptatibus cum
            ratione officia minima eum, aut laboriosam autem doloremque? Fuga ullam, soluta perferendis dolor debitis
            nulla qui. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ipsam alias itaque voluptatibus cum
            ratione officia minima eum, aut laboriosam autem doloremque? Fuga ullam, soluta perferendis dolor debitis
            nulla qui. </p>
    </div>
</section>