<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="card px-3">
          <div class="card-body">
            <h4 class="card-title">Aplicación Todo list</h4>
            <!-- task form -->
            <app-taskform (tareaEnviada)="recogerTareaEnviada($event)"></app-taskform>
            <div class="list-wrapper">
              <!-- task list -->
              <app-tasklist [tareas]="arrTareas" (tareaCompletada)="recogerTareaCompletada($event)"
                (tareaBorrada)="recogerTareaBorrada($event)">
              </app-tasklist>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>