<div class="from-group">
    <div>
        <label>Nombre del producto</label>
        <input class="form-control" type="text" [(ngModel)]="newproduct.titulo">
    </div>
    <div>
        <label>Cantidad de producto</label>
        <select class="form-control" [(ngModel)]=" newproduct.cantidad">
            <option value="">Selecciona la cantidad de producto</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div>
        <label>Precio</label>
        <input class="form-control" type="text" [(ngModel)]="newproduct.precio">
    </div>
    <button (click)="capturarNuevoProducto()" class="mt-4 btn btn-success">Guardar producto</button>
</div>