<ul class="d-flex flex-column todo-list">

    <li [class]="tarea.priority" [ngClass]="{'completed': tarea.completed}" *ngFor="let tarea of tareas">
        <div class="form-check">
            <label class="form-check-label">
                <input class="checkbox" type="checkbox" (change)="completarTarea(tarea.id)">
                {{tarea.title}}
                <i class="input-helper"></i>
            </label>
        </div>
        <i (click)="borrarTarea(tarea.id)" class="remove mdi mdi-close-circle-outline"></i>
    </li>

</ul>