.calculadora {
    width: 400px;
    border: 1px solid black;
    padding: 10px;
}

.calculadora p {
    background-color: lightgray;
    padding: 10px;
    text-align: right;
}

.calculadora .botones {
    display: flex;
    flex-wrap: wrap;
}

.calculadora .botones button {
    width: 33.33%;
    height: 40px;
}